/* define all our colors */
* {
  transition: all 150ms ease-in-out;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 20px;
}

html {
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
}

body {
  height: 100%;
}

.sidebar {
  background-color: #202020;
  width: 35%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  text-align: left;
}
.sidebar-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  padding: 1.1rem 1.1rem 1.1rem 2rem;
  color: rgba(255, 255, 255, 0.5);
  position: absolute;
  bottom: 1rem;
}
.sidebar-about {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.sidebar-about__title > a {
  text-decoration: none;
  color: #fff;
  font-family: "Abril Fatface", serif;
  font-weight: bold;
  font-size: 3rem;
}
.sidebar-about__title > a:hover {
  text-decoration: underline;
}
.sidebar-about__text {
  font-weight: 300;
  line-height: 1.52;
  font-size: 1.2rem;
}
.sidebar-about__text > a {
  text-decoration: none;
  color: #fff;
}
.sidebar-about__text > a:hover {
  text-decoration: underline;
}
.sidebar-navigation {
  line-height: 1.55;
}
.sidebar-list {
  list-style-type: none;
}
.sidebar-list__item > a {
  text-decoration: none;
  color: #fff;
}
.sidebar-list__item > a:hover {
  text-decoration: underline;
}
.sidebar-list__item > a:active {
  font-weight: bold;
}
.sidebar-footer {
  margin-top: 1rem;
}
