doctype html
html(lang="en")
	head
		title sblog
		meta(name='description' content='simple sblog framework website')
		meta(name='subject' content='home page')
		meta(charset='UTF-8')
		meta(name='blogcatalog')
		meta(name='viewport' content='width=device-width, initial-scale=1.0')
		link(rel='stylesheet' type="text/css" href="assets/css/main.css")
		link(rel='stylesheet' href='http://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700|Abril+Fatface')
	body
		div.sidebar
			div.sidebar-container 
				div.sidebar-about
					h1.sidebar-about__title
						a(href='#') Blog
					p.sidebar-about__text
						|Another yet successful <a href="#">blog</a> template system 
						|build on <a href="http://www.php.net/">@php</a>, 
						|<a href="http://gruntjs.com">grunt</a>, <a href="#">@html5</a>,
						|<a href="#">@css3</a> and other full blown technologies
				nav.sidebar-navigation
					ul.sidebar-list
						li.sidebar-list__item
							a(href='#') Home
						li.sidebar-list__item
							a(href='#') About
						li.sidebar-list__item
							a(href='#') Articles
						li.sidebar-list__item
							a(href='#') Contact
						li.sidebar-list__item.
							Currently v0.0.1 Alpha
				footer.sidebar-footer
					&copy; #{new Date().getFullYear()}. All rights reserved.
		div.content
			div.post-wrapper
				div.post
					h1.post__title
						a(href='#') Introducing Blog
					span.post__date
						|28 Dec 2016
					div.post__content
						p
							|Hyde is a brazen two-column Jekyll theme that pairs a 
							|prominent sidebar with uncomplicated content. 
							|It's based on Poole, the Jekyll butler.
						h3
							|Built On PHP
						p
						|Poole is the Jekyll Butler, serving as an upstanding and effective
						|foundation for Jekyll themes by @mdo. Poole, and every theme built
						|on it (like Hyde here) includes the following:

	script(src='assets/js/main.js', type='text/javascript')
