doctype html
html(lang="en")
	head
		title sblog
		meta(name='description' content='simple sblog framework website')
		meta(name='subject' content='home page')
		meta(charset='UTF-8')
		meta(name='blogcatalog')
		meta(name='viewport' content='width=device-width, initial-scale=1.0')
		link(rel='stylesheet' type="text/css" href="assets/css/main.css")
	body
		.row
			.conent
			.conent
	script(src='assets/js/main.js', type='text/javascript')
